dist/
node_modules/
npm-debug.log

# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/extensions.json

# Descision on whether these should be ignored or not to be deferred to when
# they may be needed.
# See: https://github.com/debutjs/debut/pull/5 
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json

# End of https://www.gitignore.io/api/visualstudiocode