.debut-Slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.debut-Slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.debut-Slider__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

